@page
@model Hawaso.Areas.Identity.Pages.Account.Manage.CandidatesNamesModel
@{
}

<h3>ASP.NET Core MVC 또는 Razor Pages에서 Blazor Component 실행</h3>

<component 
    type="typeof(Hawaso.Pages.Candidates.CandidatesNames.Manage)"
    render-mode="ServerPrerendered" />

