@page "/Candidates/Edit/{Id:int}"
@inject IDbContextFactory<CandidateAppDbContext> ContextFactoryInjector

<PageTitle>Candidate Edit</PageTitle>

<h1>Edit</h1>

<h4>Candidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <Hawaso.Pages.Candidates.Components.EditorForm
            Model="@Model"
        ></Hawaso.Pages.Candidates.Components.EditorForm>
    </div>
</div>

<div>
    <a href="/Candidates">Back to List</a>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public Candidate? Model { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        using var ctx = ContextFactoryInjector.CreateDbContext();
        Model = await ctx.Candidates.FirstOrDefaultAsync(it => it.Id == Id);
    }
}
